# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Virtual environment
venv/
ENV/
env/
env.bak/
venv.bak/

# Jupyter Notebook files
.ipynb_checkpoints/

# PyQt or Tkinter settings
*.pyqt5/

# VSCode settings
.vscode/

# Logs and databases
*.log
*.sqlite3

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
*.cover
coverage.xml
*.py,cover
.hypothesis/

# PyInstaller
#  Usually these files are written by a python script from a template
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# macOS hidden files
.DS_Store

# Windows hidden files
Thumbs.db
ehthumbs.db
